{% extends 'layout.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        {% if message %}
        <div class="alert alert-success">
            <strong>Success!</strong> Registration done successfully!.
        </div>
        {% endif %}
        <form action="" method="POST" novalidate>{% csrf_token %}
        {{ form | crispy }}
        <input type="submit", value="Register" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}